/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-may-2021, 21:18:56
    Author     : Alán
*/


/*
Colors Pallete:
COLOR VERDE: #8ab85
COLOR GRIS OSCURO: #545454
COLOR GIRS CLARO: #adadad*/

.root{
    -fx-background-color: #545454;    
}

.border-pane{
    -fx-background-color: #545454;
}

.anchor-pane{
    -fx-background-color: #545454;
    -fx-text-fill: #CECECE;
}

.text-field:focused {
    -fx-background-color: #adadad;
    -fx-text-fill: #000000;
    -fx-pref-height: 0px;
    -fx-translate-y: 0px;    
}


.text-field{
    -fx-font: 12px "Lucida Fax";
    -fx-background-color: #1AB723;
    -fx-text-fill: black;
    -fx-pref-height: 0px;
    -fx-translate-y: 0px; 
    -fx-alignment: CENTER;
    -fx-prompt-text-fill: #7C7C7C;

}

.button{
    -fx-font: 15px "Lucida Fax";
    -fx-alignment: CENTER;
    -fx-border-radius: 3px;
    -fx-background-color: #02CB3C;
    -fx-text-fill: black;
    -fx-font-size:7;
}

.button:hover {
    -fx-background-color: #02F548;
}


.label{
    -fx-text-fill: #CECECE;
}

.combo-box-base{
    -fx-pref-height: 0px;
    -fx-translate-y: 0px;
    -fx-background-color: #02CB3C;
    -fx-font: 12px "Lucida Fax";
}
.combo-box-base:hover{
    -fx-background-color: #adadad;
    -fx-text-fill: #000000;
}

.text-area.content{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-translate-y: 0px;   
}

.text-area:focused .content {
    -fx-background-color: #adadad;
    -fx-text-fill: black;
    -fx-translate-y: 0px;    
}

.table-view {
    -fx-base:  #424242;
    -fx-control-inner-background: #424242;
    -fx-background-color: #303030;
    -fx-padding: 5;
    -fx-halignment: center;
}

.text{
    -fx-font-size:15;
    -fx-text-fill: #adadad;   
}